In [1]:
import gc
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer

In [2]:
train_df = pd.read_feather('../input/amexfeather/train_data.ftr')
train_df = train_df.set_index('customer_ID')
display(train_df.head())
display(train_df.tail())

,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
customer_ID,,,,,,,,,,,,,,,,,,,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,2017-03-09,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,NaN,...,NaN,NaN,0.002426,0.003706,0.003819,NaN,0.000569,0.000610,0.002674,0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,2017-04-07,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,NaN,...,NaN,NaN,0.003956,0.003166,0.005032,NaN,0.009575,0.005493,0.009216,0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,2017-05-28,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,NaN,...,NaN,NaN,0.003269,0.007328,0.000427,NaN,0.003429,0.006985,0.002604,0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,2017-06-13,0.960449,0.002455,0.013687,1.002930,0.001372,0.117188,0.000685,0.005531,NaN,...,NaN,NaN,0.006119,0.004517,0.003201,NaN,0.008423,0.006527,0.009598,0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,2017-07-16,0.947266,0.002483,0.015190,1.000977,0.007607,0.117310,0.004654,0.009308,NaN,...,NaN,NaN,0.003672,0.004944,0.008888,NaN,0.001670,0.008125,0.009827,0

,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
customer_ID,,,,,,,,,,,,,,,,,,,,,
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eaba8b115f71cab04681,2017-11-05,0.979492,0.416016,0.020813,0.828125,0.003487,0.090759,0.005341,0.025146,NaN,...,NaN,NaN,0.006836,0.003679,0.000457,NaN,0.000906,0.001497,0.002775,0
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eaba8b115f71cab04681,2017-12-23,0.984863,0.296631,0.007210,0.812500,0.005905,0.079895,0.002243,0.023697,NaN,...,NaN,NaN,0.003309,0.007095,0.007858,NaN,0.002777,0.008224,0.008858,0
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eaba8b115f71cab04681,2018-01-06,0.982910,0.444092,0.013153,0.815430,0.003456,0.100525,0.002111,0.012344,NaN,...,NaN,NaN,0.009956,0.009995,0.001088,NaN,0.005692,0.006775,0.005566,0
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eaba8b115f71cab04681,2018-02-06,0.969727,0.442627,0.009857,1.003906,0.005116,0.101807,0.009933,0.008575,NaN,...,NaN,NaN,0.005543,0.006565,0.009880,NaN,0.008125,0.001168,0.003983,0
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eaba8b115f71cab04681,2018-03-14,0.981934,0.002474,0.000077,0.992676,0.000809,0.119141,0.003286,0.014091,NaN,...,NaN,NaN,0.007317,0.002888,0.006207,NaN,0.005112,0.003183,0.001914,0

In [3]:
train_df.shape

(5531451, 190)

In [4]:
X = train_df.drop(['S_2', 'target'], axis=1)
y = train_df['target']

del train_df
gc.collect()

display(X.head())
display(y.head())

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
customer_ID,,,,,,,,,,,,,,,,,,,,,
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,NaN,NaN,...,NaN,NaN,NaN,0.002426,0.003706,0.003819,NaN,0.000569,0.000610,0.002674
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,NaN,NaN,...,NaN,NaN,NaN,0.003956,0.003166,0.005032,NaN,0.009575,0.005493,0.009216
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,NaN,NaN,...,NaN,NaN,NaN,0.003269,0.007328,0.000427,NaN,0.003429,0.006985,0.002604
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.960449,0.002455,0.013687,1.002930,0.001372,0.117188,0.000685,0.005531,NaN,NaN,...,NaN,NaN,NaN,0.006119,0.004517,0.003201,NaN,0.008423,0.006527,0.009598
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a,0.947266,0.002483,0.015190,1.000977,0.007607,0.117310,0.004654,0.009308,NaN,NaN,...,NaN,NaN,NaN,0.003672,0.004944,0.008888,NaN,0.001670,0.008125,0.009827

customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fbac11a8ed792feb62a    0
Name: target, dtype: int64

In [5]:
cat_features = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']

enc = OneHotEncoder(sparse=False)
encoded_df = pd.DataFrame(enc.fit_transform(X[cat_features]), columns=enc.get_feature_names(cat_features))

del enc
gc.collect()

encoded_df.head()

/opt/conda/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,B_30_0.0,B_30_1.0,B_30_2.0,B_30_nan,B_38_1.0,B_38_2.0,B_38_3.0,B_38_4.0,B_38_5.0,B_38_6.0,...,D_66_1.0,D_66_nan,D_68_0.0,D_68_1.0,D_68_2.0,D_68_3.0,D_68_4.0,D_68_5.0,D_68_6.0,D_68_nan
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
numeric_features = X.drop(cat_features, axis=1)

for column in numeric_features.columns:
    numeric_features[column] = numeric_features[column].astype(np.float32)

numeric_columns = list(X.dtypes[X.dtypes != 'category'].index)

imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
numeric_df = pd.DataFrame(imp_mean.fit_transform(numeric_features), columns=numeric_columns)

del numeric_features, numeric_columns, imp_mean
gc.collect()

numeric_df.head()

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,0.184974,0.154684,...,0.242772,0.014244,0.164617,0.002426,0.003706,0.003819,0.390799,0.000569,0.000610,0.002674
1,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,0.184974,0.154684,...,0.242772,0.014244,0.164617,0.003956,0.003166,0.005032,0.390799,0.009575,0.005493,0.009216
2,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,0.184974,0.154684,...,0.242772,0.014244,0.164617,0.003269,0.007328,0.000427,0.390799,0.003429,0.006985,0.002604
3,0.960449,0.002455,0.013687,1.002930,0.001372,0.117188,0.000685,0.005531,0.184974,0.154684,...,0.242772,0.014244,0.164617,0.006119,0.004517,0.003201,0.390799,0.008423,0.006527,0.009598
4,0.947266,0.002483,0.015190,1.000977,0.007607,0.117310,0.004654,0.009308,0.184974,0.154684,...,0.242772,0.014244,0.164617,0.003672,0.004944,0.008888,0.390799,0.001670,0.008125,0.009827

In [7]:
for column in numeric_df.columns:
    numeric_df[column] = numeric_df[column].astype(np.float16)

In [8]:
X = pd.concat([numeric_df, encoded_df], axis=1)

del numeric_df, encoded_df
gc.collect()

X.head()

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,D_43,...,D_66_1.0,D_66_nan,D_68_0.0,D_68_1.0,D_68_2.0,D_68_3.0,D_68_4.0,D_68_5.0,D_68_6.0,D_68_nan
0,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,0.184937,0.154663,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,0.184937,0.154663,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,0.184937,0.154663,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.960449,0.002455,0.013687,1.002930,0.001372,0.117188,0.000685,0.005531,0.184937,0.154663,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.947266,0.002483,0.015190,1.000977,0.007607,0.117310,0.004654,0.009308,0.184937,0.154663,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
X.to_feather("train.parquet")

In [10]:
del X 
gc.collect()

21